body,
html {
  height: 100%;
  margin: 0;
}

.back-image {
  background-image: url("fotoverde.jpeg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* overflow-y: hidden; */
}

.texts {
  text-align: center;
  text-transform: uppercase;

  color: white;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.about {
  text-align: center;
  margin: 100px 70px;
}

.container {
  background-image: url("verde.jpeg");
  height: 15%;
  position: relative;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 36px;
}

.my-text {
  position: absolute;
  left: 0;

  width: 100%;
}
