/* LANDING-PAGE CSS */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: white;
}

.showcase nav {
  justify-content: flex-start;
}

.showcase {
  background-image: url("fotoverde.jpeg");
  background-size: cover;
  background-position: center;
  /* color: white; */
  height: 800px;
}

.showcase-text {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
  padding: 0 20px;
}

.about {
  text-align: center;
  padding: 150px 100px;
  line-height: 1.6;
  color: rgb(63, 63, 63);
}

.about h1 {
  padding: 50px;
}

.container {
  background-image: url("verde.jpeg");
  background-position: center;
  height: 200px;
  /* color: white; */
  text-transform: uppercase;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
